/* Genesis page styles */
.genesis-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.genesis-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    max-width: 1200px;
    margin: 2rem;

}

.genesis-image {
    max-width: 550px;
    max-height: 550px;
    padding-right: 3rem;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 0.75s ease-in-out;
    transform: translateX(-15%);
}

.genesis-image.loaded {
    opacity: 1;
    transform: translateX(0);
}


.genesis-text {
    max-width: 600px;
}

.genesis-heading {
    color: #002C46;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.genesis-paragraph {
    font-size: 1rem;
    line-height: 1.75;
    text-align: justify;
}


@media (min-width: 768px) {
    .genesis-image {
        margin-bottom: 0;
        margin-right: 2rem;
    }

    .genesis-content {
        flex-direction: row;
        align-items: flex-start;
    }
}

@media (min-width: 950px) and (max-width: 1140px) {

    .genesis-content {
        margin: 2rem;
    }
    .genesis-image {
        max-width: 100%; /* Adjusted maximum width for smaller screens */
        max-height: 400px; /* Reduced maximum height for smaller screens */
        padding-right: 2rem; /* Adjusted padding for smaller screens */
        transition: opacity 1s ease-in-out, transform 0.75s ease-in-out;
        transform: translateX(-15%);
    }

    .genesis-heading {
        font-size: 2.75rem; /* Reduced heading font size for smaller screens */
        margin-bottom: 0.5rem; /* Reduced margin bottom for compactness */
    }

    .genesis-paragraph {
        font-size: 1rem; /* Reduced paragraph font size for smaller screens */
        line-height: 1.5; /* Maintained line height for better text spacing */
    }
}

@media (min-width: 820px) and (max-width: 950px) {
    .genesis-container {
        padding: 1rem;
    }

    .genesis-image {
        max-width: 100%;
        height: auto;
        max-height: 300px; /* Limit maximum height of image */
        margin-bottom: 1rem;
        transition: opacity 1s ease-in-out, transform 0.75s ease-in-out;
        transform: translateX(-15%);
    }

    .genesis-heading {
        font-size: 2.25rem; /* Slightly reduced heading size for mobile screens */
        margin-bottom: 0.5rem; /* Reduced margin bottom for compactness */
    }

    .genesis-paragraph {
        font-size: 0.875rem; /* Reduced paragraph font size for mobile screens */
        line-height: 1.5; /* Improved line height for better text spacing */
        text-align: justify;
    }
}

@media  (min-width: 400px) and (max-width: 820px) {
    .genesis-container {
        padding: 1rem;
    }

    .genesis-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 2rem 1rem;
        padding: 0 1rem 2rem 1rem;
    }


    .genesis-image {
        max-width: 100%;
        max-height: 300px; /* Limit maximum height of image */
        margin-left: 4rem;
        margin-bottom: 1rem;
        transition: opacity 1s ease-in-out, transform 0.75s ease-in-out;
        transform: translateX(-15%);
    }

    .genesis-heading {
        font-size: 1.75rem; /* Slightly reduced heading size for mobile screens */
        margin-bottom: 0.75rem; /* Reduced margin bottom for compactness */
    }

    .genesis-paragraph {
        font-size: 0.9rem; /* Reduced paragraph font size for mobile screens */
        line-height: 1.5; /* Improved line height for better text spacing */
        text-align: justify;
    }
}

@media (max-width: 400px) {
    .genesis-container {
        padding: 0.5rem;
    }

    .genesis-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0.5rem;
    }

    .genesis-image {
        max-width: 100%;
        max-height: 200px; /* Further limit maximum height of image */
        margin-left: 2rem;
        margin-bottom: 0.5rem;
        transition: opacity 1s ease-in-out, transform 0.75s ease-in-out;
        transform: translateX(-10%);
    }

    .genesis-heading {
        font-size: 1.5rem; /* Reduced heading size for very small screens */
        margin-bottom: 0.5rem; /* Reduced margin bottom for compactness */
    }

    .genesis-paragraph {
        font-size: 0.8rem; /* Reduced paragraph font size for very small screens */
        line-height: 1.4; /* Slightly reduced line height for better text spacing */
        text-align: justify;
    }
}


