/* Genesis page styles */
.genesis-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.genesis-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
}

.genesis-image {
    max-width: 550px;
    max-height: 550px;
    padding-right: 3rem;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 0.75s ease-in-out;
    transform: translateX(-15%);
}

.genesis-image.loaded {
    opacity: 1;
    transform: translateX(0);
}


.genesis-text {
    max-width: 600px;
}

.genesis-heading {
    color: #002C46;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.genesis-paragraph {
    font-size: 1rem;
    line-height: 1.75;
    text-align: justify;
}

@media (min-width: 768px) {
    .genesis-image {
        margin-bottom: 0;
        margin-right: 2rem;
    }
}

@media (min-width: 768px) {
    .genesis-content {
        flex-direction: row;
        align-items: flex-start;
    }
}