/* Genesis page styles */
.genesis-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 44, 70, 0.1);

}

.genesis-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.genesis-image {
    max-width: 550px;
    max-height: 550px;
    padding-right: 3rem;
}

.genesis-text {
    max-width: 600px;
}

.genesis-heading {
    color: #002C46;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.genesis-paragraph {
    font-size: 1rem;
    line-height: 1.75;
    text-align: justify;
}

@media (min-width: 768px) {
    .genesis-image {
        margin-bottom: 0;
        margin-right: 2rem;
    }
}

@media (min-width: 768px) {
    .genesis-content {
        flex-direction: row;
        align-items: flex-start;
    }
}