/* Landing.css */

/* General styles */
.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 44, 70, 0.1);
    overflow: hidden;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1200px;
}

.headline {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
    line-height: 1.25;
    backdrop-filter: blur(4px);
    padding: 1rem; /* Added padding */
    margin-right: 1rem;
    margin-top: 3rem;
}

.headline sup {
    font-size: 1rem;
}

.landing-image {
    width: 50%; /* Adjusted width */
    max-width: 600px;
    border-radius: 20px; /* Optional: Add border radius to image */
}

@media (max-width: 768px) {
    .headline {
        font-size: 1.2rem;
        margin-right: 0; /* Remove margin on smaller screens */
        text-align: center; /* Center text on smaller screens */
    }

    .landing-image {
        display: none;
    }
}
