/* NEP Policy page styles */
.nep-policy-container {
    padding: 2rem;
    background-color: rgba(249, 249, 249, 0.6);
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    /*max-width: 1200px;*/
    margin: 4rem auto;

}

.nep-policy-container h1 {
    padding-top: 10px;
    font-size: 3rem;
    font-weight: 600;
    color: #002C46;
}

.solar-system {
    position: relative;
    width: 100%;
    height: 100%;
    /*top: 50px;*/
    left: -100px;
}

.sun {
    background-color: #E99E2D;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.orbit-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1.5px solid #ccc; /* Changed border style to solid */
    border-radius: 50%;
}

.orbit-line-1 {
    width: 350px;
    height: 350px;
}

.orbit-line-2 {
    width: 500px;
    height: 500px;
}

.orbit-line-3 {
    width: 650px;
    height: 650px;
}

.planet {
    background-color: #002C46;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;

}

.planet h3 {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin: 0;
}

.rocket {
    width: 30px;
    height: 30px;
}

.planet-description p {
    font-size: 0.9rem;
    line-height: 1.25;
    margin: 0;
    max-width: 350px; /* Adjust as needed */
    font-weight: 600;
}

.orbit {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: 0 50%;
    z-index: 1;
}

.orbit-sar {
    transform: translate(135px, -100px);
}

.orbit-sar-desc .rocket{
     transform: translate(357px, -140px);
}

.orbit-sar-desc .planet-description{
     transform: translate(365px, -150px);
}



.orbit-sap {
    transform: translate(250px, 30px);
}

.orbit-sap-desc .rocket{
    transform: translate(475px, -10px);
}

.orbit-sap-desc .planet-description{
    transform: translate(485px, -20px);
}


.orbit-sep {
    transform: translate(260px, 200px);
}

.orbit-sep-desc .rocket{
    transform: translate(485px, 160px);
}

.orbit-sep-desc .planet-description{
    transform: translate(495px, 155px);
}
