@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'chalk';
    src: url('/fonts/CreamyChalk-PKa4E.ttf') format('truetype');
}
@font-face {
    font-family: 'header';
    src: url('/fonts/FeelingSoon-1GVr0.otf') format('opentype');
}
@font-face {
    font-family: 'foot';
    src: url('/fonts/CrocodileFeetDemoRegular-GzDg.otf') format('opentype');
}
@font-face {
    font-family: 'heading';
    src: url('/fonts/SalisburyBold-PVZXr.ttf') format('truetype');
}

/* Header styles */
.header {
    background-color: #ffffffad;
    top: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @apply p-4 fixed z-10 backdrop-blur
}

/* Logo styles */
.headerimg{
    width: 250px;
    height: 60px;
    padding-right: 20px;
}

/* Navigation links container */
.nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-btn
{
    display: flex;
    align-items: center;
}
.nav-btn button
{
    @apply ml-4 cursor-pointer transition-all bg-blue-500 text-white px-8 h-10 rounded-lg border-blue-600 border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px] active:border-b-[2px] active:brightness-90 active:translate-y-[2px]
}
/* Navigation link styles */
.nav-links a {
    text-decoration: none;
    color: #000000;
    transition: color 0.2s ease;
    font-size: 1rem;
    margin: 1rem;
}

/* Hover effect for navigation links */
.nav-links a:hover {
    color: #3b82f6;
    text-decoration: underline;
}

.login {
    border: 2px solid #e8e8e8;
    padding: 15px;
    border-radius: 10px;
    background-color: #212121;
    font-weight: bold;
    color: #e8e8e8;
}

.login:focus-within {
    outline-color: white;
    background-color: #212121;
    color: #e8e8e8;
    box-shadow: 5px 5px #888888;
}

/* Specific Footer Styling */
.flex.mx-auto.gap-2.bg-blue-700.w-screen.justify-center.py-5 {
    background-color: #1c1c1c;
    color: #e8e8e8;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    /*font-weight: normal; !* Set font to normal weight *!*/
}
#par
{
    z-index: -1;
}

.reach-container {
    max-width: 700px;
    margin: 30px;
    background-color: #212121;
    padding: 30px;
    border-left: 5px solid #ff7244;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.heading {
    display: block;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.reach-container .reach .input {
    color: #fff;
    width: 100%;
    background-color: #002733;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid transparent;

}

.reach-container .reach .input:focus {
    border-left: 5px solid #ff7244;
}

.reach-container .reach .textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #013747;
    color: #fff;
    font-weight: bold;
    resize: none;
    max-height: 150px;
    margin-bottom: 20px;
    border-left: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.reach-container .reach .textarea:focus {
    border-left: 5px solid #ff7244;
}

.reach-container .reach .button-container {
    display: flex;
    justify-content: center;
}

.reach-container .reach .button-container .send-button {
    flex-basis: 70%;
    background: #ff7244;
    padding: 10px;
    color: #212121;
    text-align: center;
    font-weight: bold;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.reach-container .reach .button-container .send-button:hover {
    background: transparent;
    border: 1px solid #ff7244;
    color: #ff7244;
}

/* styles.css */
.perspective {
    perspective: 1000px;
}

.founder {
    transform-style: preserve-3d;
    transition: all ease 1s;
}

.founder:hover {
    transform: rotateY(180deg);
}

.founderf,
.founderb {
    backface-visibility: hidden;
    transform: rotateY(0deg);
}

.founderb {
    transform: rotateY(180deg);
}

.navall
{
    display: flex;
}

.animate
{
    animation: box 0.5s linear forwards;
}

@keyframes box
{
    from{opacity: 0;
    scale: 0;}
    to{opacity: 1;
    scale: 1;}
}
.section
{
    @apply text-center text-3xl md:text-5xl font-extrabold text-[#002c46] mb-8
}
@media all and (max-width: 500px)
{
    .header
    {
        display: grid;
    }
    .nav-links
    {
        display: flex;
        width: 100vw;
        margin:0px;
    }
}